/* Application-wide Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
/* ==== Font sizes(based on Typeplate's scale) ==== */
html {
  font: normal 100%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
position: relative;
}
p{
  margin-top: 3rem;
  font-size: 0.9rem;
  line-height: 1
}
.row{
  width:100%;
  padding:0;
  min-height:40vh;
  display: flex;
  justify-content: center;
  position:relative;
  z-index:1;
}
.hero{
  height:60vh;
  max-height:440px;
  width:100%;
  padding:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  z-index:1;
  background-image:url(../img/grid.png);
  background-repeat:repeat;
  background-color:rgba(185,185,185,.12);
}
.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}


.giga {
  font-size: 3rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}
.mega {
  font-size: 3rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}
.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.bree-serif{font-family: 'Bree Serif'}
.regular{font-weight: 400;}
.oswald{font-family: 'Oswald'}
.libre-baskerville{font-family: 'Libre Baskerville'}

.uppercase{text-transform: uppercase;}
.ls-large{letter-spacing: 8px;}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:4rem;
	background-color: transparent;
	height: 4px;
	border-bottom: 1px solid #aaa;
	border-top:1px solid #49a;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -4.5rem;
}
.double-header-line:after{
	right: -4.5rem;
}

.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}


.tred{color:#f44;}
.tdred{color:#a34;}
.tblue{color:#4bf;}
.tyellow{color:#fb4;}
.twhite{color:#ddd;}

.svg-separator{
  display: block;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}

.sep3 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

.sep5 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep12 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

/* -- Row BG Color -- */

.white{background-color:#FFFFFF;}
.green{background-color:#03a678;}
.green2{background-color:#1bbc9b;}
.lightred{background-color:#d24d57;}
.red{background-color:#611;}
.light-grey{background-color:#ecf0f1;}
.light-grey2{background-color:#ecf0f1;}
.dark-blue{background-color:#22313f;}
.grey-blue{background-color:#6c7a89;}
.black{background-color:#333;}
.stupid-blue{background-color:#19b5fe;}


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
#block{
	margin:2em auto;
	max-width:262px;
	height:220px;
	display:inline-block;
	position:relative;
	border-right:.2em solid transparent;
	border-left:.1em solid transparent;
}
#block{margin-top:14rem;}
#block:hover{
	border-right:.2em solid #4bf;
	border-left:.1em solid #fb4;}
#block img{
	width:100%;
	height:100%;
}
#block p{color:#899;width:80%;padding:2%;font-weight:824;font-size:12px;}

#tile{
	display:inline-block;
	position:relative;
	margin:3px auto;
	width:60%;
}
#tile:nth-of-type(even){
	width:30%;
}
#item{
	max-width:400px;
	position:relative;
	margin:2%;
	padding:3%;
	background:rgba(210,210,210,0.4);
	border-radius:3%;
	cursor:pointer;
}
#item .title{display:block;color:#999;font-size:16px;}
#item .desc{display:none;}
#item .desc .crnt{display:block;}
#item .desc{font-size:12px;border-radius:2px;padding:6px;color:#888;background:rgba(210,221,221,0.46);font-weight:100;}
#tile:nth-child(2) .thumb{width:152px;height:152px;}


.btn {
  border: 1px solid #3c3c3c;
  display: inline-block;
  min-width: 160px;
  padding: 1em;
  text-align: center;
  color: #3c3c3c;
  font-style: normal;
  letter-spacing: 1px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  margin-top: 30px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #ea6060;
  border-color: #ea6060;
  transition: .6s;	
}
.btn-white{
  background:#fff;
  color: #333;
}

.btn-black{
  color:#aaa;
  background: #333;
}
.btn-white:hover{
	border:1px solid #000;
	color:#000;
}

.btn-purple{
  color:#fff;
  background:#99f;
}
.btn-green{
  color:#eee;
  background:#3b9;
}
.btn-blue{
  color:#eee;
  background: #39b;
}